= simple_form_for @photo || Photo.new, url: profile_album_photos_path(@profile, @profile.albums.main) do |f|
  = f.file_field :image, required: true
  = f.button :submit, t('.upload', default: 'Upload'), class: 'btn btn-primary'
