- album ||= @profile.albums.main

= simple_form_for @photo || Photo.new(album_id: album.id), url: profile_album_photos_path(@profile, album) do |f|
  = f.file_field :image, required: true
  = f.button :submit, t('.upload', default: 'Upload'), class: 'btn btn-primary'
