body
  background: #edeef0

.page_block
  background: #fff
  border-radius: 2px
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
  margin: 15px 0 0
  padding: 15px

.bg-white
  background: #fff

.profile_name
  font-size: 19px
  line-height: 25px
  margin: -1px 0
  overflow: hidden
  text-overflow: ellipsis

.profile_online
  float: right
  font-size: 12.5px
  margin-top: 5px
  line-height: 18px
  color: #939393

.profile_info
  .p_label
    color: #828282
  
  line-height: 150%
