body
  background: #edeef0

.link-colors
  a
    color: #555
    text-decoration: none
    &:hover
      color: #000

.page_block
  background: #fff
  border-radius: 2px
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
  margin: 15px 0 0
  padding: 15px
  @extend .link-colors
  .header
    margin-bottom: 0.75em
    .header_count
      color: #939393
      padding: 0 0.25em

.devise-bs
  @extend .mtop

.menu
  @extend .list-group
  @extend .mtop
  @extend .link-colors
  span
    @extend .hidden-sm

.left-menu
  @extend .menu

.right-menu
  @extend .menu
  padding-left: 15px
  padding-right: 0

.bg-white
  background: #fff

.profile_name
  font-size: 19px
  line-height: 25px
  margin: -1px 0
  overflow: hidden
  text-overflow: ellipsis

.profile_online
  float: right
  font-size: 12.5px
  margin-top: 5px
  line-height: 18px
  color: #939393

.profile_info
  .p_label
    color: #828282
  
  line-height: 150%

.profile-thumb
  @extend .thumbnail
  margin-bottom: 0 !important
  width: 100%
  padding-top: 100%
  background-position: center center
  background-size: cover
  /* Set the image to fill its parent and make transparent */
  img
    min-height: 100%
    min-width: 100%
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
    /* IE 5-7 */
    filter: alpha(opacity=0)
    /* modern browsers */
    opacity: 0

.profile-photo-col
  @extend .col-centered
