.profile_name
  font-size: 19px
  line-height: 25px
  margin: -1px 0
  overflow: hidden
  text-overflow: ellipsis

.profile_online
  float: right
  font-size: 12.5px
  margin-top: 5px
  line-height: 18px
  color: #939393

.profile-info
  line-height: 150%
  .p-label
    @extend .muted-color

.profile-thumb
  @extend .photo-thumb
  margin-bottom: 0

.profile-photo-col
  @extend .col-centered

.mini-profile-block
  @extend .page-block
  .mini-avatar-col
    max-width: 80px
    .mini-avatar
      @extend .profile-thumb
      border-radius: 50%
  .mini-text-col
    @extend .pl-0
